# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.log

# Environments
.env
.venv/
env/
venv/


# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.swp

# Testing / Coverage
htmlcov/
.coverage
pytest_cache/
